<img class="koncept" src="/img/koncept.webp" alt="koncept" />
<div class="green">
  <h1 class="hev">HVEM ER VI?</h1>

  <div class="tekst grid_2-2">
    <div class="tekst1">
      <p class="tekst3">
        Matchwinner er et helt nyt koncept i Danmark. Hos Matchwinner er vi
        stolte af at præsentere vores fantastiske sortiment af mystery boxes,
        der indeholder helt nye og 100% originale fodboldtrøjer. <span
          class="none"
        >
          Vores trøjer har en minimum vejledende pris på 600 kr., hvilket
          betyder, at du får muligheden for at tilføje en bred vifte af
          spændende fodboldtrøjer til din samling fra forskellige hold rundt
          omkring i verden! Vi stræber altid efter at sikre vores kunders fulde
          tilfredshed. Derfor har vi en unik fordel for dig: Du kan vælge et
          enkelt hold, som du absolut ikke ønsker at modtage i din Mysterybox.
          Vi forstår, at nogle hold måske ikke er dine favoritter, og vi vil
          gerne give dig kontrol over indholdet i din mystery box.</span
        >
      </p>
    </div>

    <button class="knap border" id="popup-button">LÆS MERE</button>

    <div id="popup-window">
      <p class="tekst2">
        Skulle uheldet alligevel være ude, og du modtager en trøje fra det
        valgte hold, behøver du ikke bekymre dig. Du kan nemlig inden for 14
        dage returnere dine varer til Matchwinner, så længe trøjen stadig er
        forsynet med tagsene. Vi ønsker at skabe den bedst mulige oplevelse for
        vores kunder, og det inkluderer at give dig valgmuligheder og sikkerhed
        ved dit køb. Vores passion for fodbold og kvaliteten af vores mystery
        boxes er vores kerneværdier, og vi er glade for at kunne dele denne
        spændende oplevelse med dig. Udforsk vores udvalg af mystery boxes, og
        lad os hjælpe dig med at udvide din fodboldtrøjesamling på en
        overraskende og fornøjelig måde!
      </p>
      <button class="but1" id="close-button-popup">LUK</button>
    </div>
  </div>
</div>
<h2 class="hiw">HVORDAN FUNGERER DET?</h2>
<div class="guide">
  <img class="ikon" src="/img/gift.webp" alt="gave ikon" />
  <h2>1. VÆLG DEN RETTE BOX FOR DIG</h2>
  <p>
    Da vi har pakker i forskellige prisklasser, samt til både voksne og børn, er
    det vigtigt at du vælger den rette pakke til dig.
  </p>
  <img class="ikon" src="/img/ruler.webp" alt="målebånd ikon" />
  <h2>2. VÆLG DIN STØRRELSE</h2>
  <p>
    Vælg din størrelse. For den bedste pasform, anbefaler vi, at du tjekker
    producenterne af eventuelle tidligere trøjer, du har.
  </p>
  <img class="ikon" src="/img/checked.webp" alt="flueben ikon" />
  <h2>3. PLACER DIN ORDRE</h2>
  <p>
    Fortæl os hvilke hold, ligaer, sponsorer eller farver, du vil undgå og
    hvilke du evt. foretrækker ved check-out.
  </p>
  <img class="ikon lastbil" src="/img/delivery-truck.webp" alt="lastbil ikon" />
  <h2>4. MODTAG DIN NYE MYSTISKE TRØJE</h2>
  <p>
    Vores team vil professionelt udvælge og pakke din ordre klar til afsendelse.
    Modtag din pakke og del gerne på din Instagram story. Så deler vi den på
    vores profil.
  </p>
</div>
<a class="knap border" href="/shop">SHOP HER</a>

<script src="../scripts/popup.js"></script>

<style>
  body {
    margin: 0;
  }
  .koncept {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: -60px;
    margin-bottom: -22px;
  }
  @media (min-width: 600px) {
    .but1 {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 150px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 10px 18px;
      font-size: 13px;
      cursor: pointer;

      border-color: #6d9a72;
      color: #6d9a72;
    }
    .but1:hover {
      background-color: #6d9a72;
      color: white;
    }
    .ikon {
      display: flex;
      margin: auto;
      max-height: 60px;
      width: auto;
      align-items: center;
      margin-top: 4rem;
    }
    .knap {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 150px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 10px 18px;
      font-size: 13px;
      cursor: pointer;
    }

    #popup-window {
      display: none;
    }

    .knap.border {
      margin-top: 30px;
    }

    .knap.border {
      margin-top: 30px;
    }

    .tekst2 {
      margin: auto;
      margin-top: 1%;
      line-height: 32px;
      max-width: 720px;
      font-family: Montserrat;
      margin-bottom: -10px;
      text-align: left;
      font-family: Montserrat;
    }
    .tekst3 {
      font-family: "Monsserrat";

      margin: auto;
      margin-top: 1%;
      line-height: 32px;
      max-width: 720px;
      font-family: Montserrat;
      margin-bottom: -10px;

      text-align: left;
    }

    .lastbil {
      max-height: 90px;
    }
    .green {
      background-color: #e8efe5;
      padding-bottom: 10px;
    }
    .hev {
      padding-top: 45px;
    }
    .hiw {
      margin-top: 80px;
      font-size: x-large;
    }
    h1 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-family: Inter;
    }
    h2 {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: medium;
      font-family: Inter;
    }
    p {
      margin: auto;
      max-width: 350px;
      text-align: center;
      font-size: medium;
      line-height: 32px;
      margin-bottom: 30px;
      font-family: Montserrat;
    }
    .str {
      max-width: 750px;
    }
    br {
      margin-bottom: 1rem;
    }

    .guide {
      max-width: 400px;
      margin: auto;
    }

    .border {
      border-color: #6d9a72;
      color: #6d9a72;
    }

    .border:hover {
      background-color: #6d9a72;
      color: white;
    }
  }

  @media (max-width: 600px) {
    #popup-window {
      display: none;
    }

    .knap.border {
      margin-top: 10px;
    }

    .knap.border {
      margin-top: 10px;
    }
    .knap {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 115px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 10px 18px;
      font-size: 13px;
      cursor: pointer;
    }
    .border {
      border-color: #6d9a72;
      color: #6d9a72;
    }
    p {
      margin: auto;
      max-width: 350px;
      text-align: center;
      margin-bottom: 20px;
      font-size: small;
      line-height: 25px;
      font-size: 14px;
      font-family: Montserrat;
    }
    .tekst2 {
      font-family: Montserrat;
      max-width: 75%;
      text-align: left;
      margin-top: -40%;
      margin-top: 5%;
      font-size: 14px;
      line-height: 25px;
    }
    .tekst3 {
      font-family: Montserrat;
      max-width: 75%;
      text-align: left;
    }
    h1 {
      font-size: larger;
      text-align: center;
      margin-top: 4%;
    }
    .str {
      max-width: 350px;
      line-height: 25px;
    }
    .lastbil {
      max-height: 90px;
    }
    .green {
      background-color: #e8efe5;
      padding-bottom: 10px;
    }
    br {
      margin-bottom: 1.6rem;
    }

    .hev {
      padding-top: 30px;
    }

    .ikon {
      display: flex;
      margin: auto;
      max-height: 60px;
      width: auto;
      align-items: center;
      margin-top: 4rem;
    }
    .hiw {
      margin-top: 50px;
      font-size: larger;
    }
    .koncept {
      margin-top: -45px;
    }
    h2 {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: medium;
      font-family: Inter;
    }
    .but1 {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 115px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 10px 18px;
      font-size: 13px;
      cursor: pointer;
      border-color: #6d9a72;
      color: #6d9a72;
    }
  }
</style>
