<img class="koncept" src="img/konceptet.webp" alt="konceptet">
<div class="green">
    <h1 class="hev">HVEM ER VI?</h1>
    <p>Matchwinner er et helt nyt koncept i Danmark. </br>

Hos Matchwinner sælger vi mystery boxes med helt nye og 100% originale fodboldtrøjer, som har en minimum vejledende pris på 600 kr. Du har derfor muligheden for at udvide din fodboldtrøje samling med forskellige spændende trøjer fra hele verden! </br>
Vi går meget op i, at vores kunder er tilfredse. Derfor tilbyder vi, at du kan vælge 1 hold, som du absolut IKKE vil modtage i din Mysterybox. Skulle du være så uheldig alligevel at modtage en trøje fra et hold, som du ikke ønsker, så frygt ej. Du kan altid inden for 14 dage returnere dine varer til Matchwinner, så længe trøjen stadig er med tags!</p>
</div>


    <h1 class="hiw" >HVORDAN FUNGERER DET?</h1>
   <div class="guide"> 
    <img class="ikon" src="img/gift.webp" alt="gave ikon">
    <h2>1. VÆLG DEN RETTE BOX FOR DIG</h2>
    <p>Da vi har pakker i forskellige prisklasser, samt til både voksne og børn, er det vigtigt at du vælger den rette pakke til dig. </p>
    <img class="ikon" src="img/ruler.webp" alt="målebånd ikon">
    <h2>2. VÆLG DIN STØRRELSE</h2>
    <p>Vælg din størrelse. For den bedste pasform, anbefaler vi, at du tjekker producenterne af eventuelle tidligere trøjer, du har.</p>
    <img class="ikon" src="img/checked.webp" alt="flueben ikon">
    <h2>3. PLACER DIN ORDRE</h2>
    <p>Fortæl os hvilke hold, ligaer, sponsorer eller farver, du vil undgå og hvilke du evt. foretrækker ved check-out. </p>
    <img class="ikon lastbil" src="img/delivery-truck.webp" alt="lastbil ikon">
    <h2>4. MODTAG DIN NYE MYSTISKE TRØJE</h2>
    <p>Vores team vil professionelt udvælge og pakke din ordre klar til afsendelse. Modtag din pakke og del gerne på din Instagram story. Så deler vi den på vores profil. </p>
</div>
<a class="knap border" href="/shop">SHOP HER</a>

<style>
.ikon {
    display: flex;
    margin: auto;
    max-height: 60px;
    align-items: center;
}
.koncept {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.lastbil {
    max-height: 90px;
}
 .green {
    background-color: #E8EFE5;
    padding-bottom: 10px;
  }
  .hev {
    padding-top: 30px;
  }
  .hiw {
    margin-top: 80px;
  }
  h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: large;
  }
  p {
    margin: auto;
    max-width: 900px;
    text-align: center;
    font-size: large;
    line-height: 32px;
    margin-bottom: 30px;
  }
   br {
    margin-bottom: 1rem;
  }

  .guide {
    max-width: 400px;
      margin: auto;
  }
 .knap {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    max-width: 100px;
    color: #000000;
    text-decoration: none;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 6rem;
    border-radius: 2px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.border {
  border-color: #6D9A72;
  color: #6D9A72;
  border
}

.border:hover {
  background-color: #6D9A72;
  color: white;
}

@media (max-width: 600px) {
     p {
      margin: auto;
      max-width: 300px;
      text-align: center;
      margin-bottom: 20px;
    }
    br {
      margin-bottom: 1.6rem;
    }
     .hev {
    padding-top: 40px;
    margin-bottom: 35px;
  }
}
</style>