<footer>
  <ul>
    <a href=""><li>FAQ</li></a>
    <a href=""><li>Retur</li></a>
    <a href=""><li>Tilfredse kunder</li></a>
    <a href=""><li>Kontakt</li></a>
  </ul>
  <div class="line"></div>

  <section class="grid3_3">
    <div class="plads">
      <a class="tiktok" href="https://www.tiktok.com/@matchwinnerdk"
        ><img class="some" src="/img/tiktok.webp" alt="TikTok icon" /></a
      >
      <a href="https://www.instagram.com/matchwinnerdk/?hl=da"
        ><img class="some" src="/img/instagram.webp" alt="Instagram icon" /></a
      >
    </div>

    <div>
      <a class="str" href="kontakt@match-winner.dk">kontakt@match-winner.dk</a>
      <p>CVR : 43640585</p>
      <p>Matchwinner ApS</p>
    </div>

    <div>
      <img class="ikon, ryk-ikon" src="/img/mobilepay.webp" alt="Mobilepay icon" />
      <img class="ikon" src="/img/mastercard.webp" alt="Mastercard icon" />
      <img class="ikon" src="/img/visa.webp" alt="Visa icon" />
    </div>
  </section>
  <div class="credit">
    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>

<style>
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
 @font-face{
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
 }
  .ryk-ikon {
    position: relative;
    left: 10px;
  }
  .some{
    height: 32px;
    width: 32px;
  }
  ul {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    font-size: 90%;
  }

  .line {
    border-bottom: black solid 1px;
    max-width: 1000px;
    margin: auto;
  }
  li {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .ikon{
    width: 50px;
    height: 50px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #87b18b;
  }
  .credit {
    text-align: center;
    margin-top: 100px;
    font-family: Inter;
    font-size:small;
    font-weight: 150;
    margin-bottom: 20px;
  }
  .grid3_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-family: Inter;
    font-weight: 200;
  }
  p {
    line-height: 5px;
    margin-top: 10px;
    font-size: 85%;
  }
  .str{
    font-size: 90%;
  }
  .tiktok{
    position: relative;
    left: -2px
  }
   #info {
        line-height: 10px;
      }

  @media (max-width: 800px) {
    .grid3_3 {
      display: block;
      font-weight: 150;
      font-size: small;
      margin-top: 20px;
    }
    .credit {
      font-weight: 200;
      font-size: x-small;
      margin-top: 50px;
    }
    a:hover {
      color: black;
    }
    li {
      font-size: small;
      margin: auto;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      }
      .line {
        border-bottom: black solid 1px;
        max-width: 1000px;
        margin: auto;
      }
      .plads{margin-bottom: 10px;}
      li {
        text-decoration: none;
        list-style: none;
      }
      ul {
        padding-left: 0;
      }
      .line {
        max-width: 270px;
      }
      p {
        line-height: 5px;
        margin-top: 10px;
      }
    }
  
</style>
