<footer>
  <ul>
    <a href=""><li>FAQ</li></a>
    <a href=""><li>Retur</li></a>
    <a href=""><li>Tilfredse kunder</li></a>
    <a href=""><li>Kontakt</li></a>
  </ul>
  <div class="line"></div>

  <section class="grid3_3">
    <div>
      <a href="https://www.tiktok.com/@matchwinnerdk"
        ><img src="img/tiktok.webp" alt="TikTok icon" /></a
      >
      <a href="https://www.instagram.com/matchwinnerdk/?hl=da"
        ><img src="img/instagram.webp" alt="Instagram icon" /></a
      >
    </div>

    <div>
      <a href="kontakt@match-winner.dk">kontakt@match-winner.dk</a>
      <p>CVR : 43640585</p>
      <p>Matchwinner ApS</p>
    </div>

    <div>
      <img class="ryk-ikon" src="/img/mobilepay.webp" alt="Mobilepay icon" />
      <img src="/img/mastercard.webp" alt="Mastercard icon" />
      <img src="/img/visa.webp" alt="Visa icon" />
    </div>
  </section>
  <div class="credit">
    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>

<style>
  @font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: Inter;
    src: url("fonts/Inter-VariableFont_slntwght.ttf");
  }
  .ryk-ikon {
    position: relative;
    left: 7px;
  }
  ul {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .line {
    border-bottom: black solid 1px;
    max-width: 1000px;
    margin: auto;
  }
  li {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Montserrat",sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #87b18b;
  }
  .credit {
    text-align: center;
    margin-top: 100px;
    font-family: Inter;
  }
  .grid3_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-family: "Inter",sans-serif;
  }
  p {
    line-height: 5px;
  }

  

</style>
