<footer>
    <ul>
        <li>FAQ</li>
        <li>Retur</li>
        <li>Tilfredse kunder</li>
        <li>Kontakt</li>

        <section class="grid3_3">
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>


            <div>
                <a href="kontakt@match-winner.dk">kontakt@match-winner.dk</a>
                <p>CVR : 43640585</p>
                <p>Matchwinner ApS</p>
            </div>

            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>

        </section>
        <div class="credit">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </ul>
</footer>