<section>
  <div>
    <img class="forside1" src="/img/forside.webp" alt="forside" />
  </div>
  <p class="USP">Oplev spændingen på og af banen.</p>

  <style>
    body {
      margin: 0;
    }
    @font-face {
      font-family: Inter;
      src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
    }
    @font-face {
      font-family: Montserrat;
      src: url("/fonts/Montserrat-VariableFont_wght.ttf");
    }

    @media (max-width: 600px) {
      .forside1 {
        width: 100%;
        margin-top: -45px;
      }
      .USP {
        position: relative;
        font-family: Montserrat;
        font-size: 70%;
        margin: auto;
        margin-top: -21%;
        margin-bottom: 80px;
        max-width: 250px;
        font-weight: 650;
        color: white;
        line-height: 15px;
        text-align: center;
      }
      h1 {
        text-align: center;
        font-family: "Inter";
        font-weight: 350;
      }
    }

    @media (min-width: 600px) {
      h1 {
        text-align: center;
        font-family: "Inter";
        font-weight: 350;
      }

      .USP {
        position: relative;
        font-family: Montserrat;
        font-size: 250%;
        margin-top: -24.5%;
        margin-bottom: 19.5%;
        margin-left: 5%;
        max-width: 400px;
        text-align: left;
        font-weight: 650;
        color: white;
        line-height: 50px;
      }
      .forside1 {
        width: 100%;
        margin-top: -60px;
      }
    }
  </style>
</section>
