<section>
  <div>
    <img class="forside1" src="img/forside.webp" alt="forside" />
  </div>
  <div>
    <a href="/shop"
      ><h1>
        SE ALLE VORES <span class="mystery">MYSTERY</span><span class="box"
          >BOXES</span
        > HER
      </h1></a
    >
  </div>

  <div class="abbonement">
    <h2>
      OPRET ET ABONNEMENT OG <span class="måned"> FÅ ÉN BOX HVER MÅNED</span> TIL
      KUN 349 DKK
    </h2>
    <h3>Ingen binding - opsig når som helst</h3>
  </div>

  <div class="container">
    <img class="koncept" src="img/konceptforside.webp" alt="koncept" />
  </div>
  <div class="tekst">
    <p>
      Matchwinner er et helt nyt koncept i Danmark.<br /> Hos Matchwinner sælger
      vi mystery boxes med helt nye og 100% originale fodboldtrøjer, som har en minimum
      vejledende pris på 600 kr. Du har derfor muligheden for at udvide din fodboldtrøje
      samling med forskellige spændende trøjer fra hele verden! <br /> Vi går meget
      op i, at vores kunder er tilfredse. Derfor tilbyder vi, at du kan vælge 1 hold,
      som du absolut IKKE vil modtage i din Mysterybox. Skulle du være så uheldig
      alligevel at modtage en trøje fra et hold, som du ikke ønsker, så frygt ej.
      Du kan altid inden for 14 dage returnere dine varer til Matchwinner, så længe
      trøjen stadig er med tags!
    </p>
    <a class="knap border" href="/about">LÆS MERE</a>
  </div>
</section>

<style>
  body {
    margin: 0;
  }
  @font-face {
    font-family: Inter;
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (max-width: 600px) {
    .forside1 {
      width: 100%;
      margin-top: -45px;
    }
    h1 {
      text-align: center;
      font-family: "Inter";
      font-weight: 350;
      font-size: 20px;
    }

    .mystery {
      font-weight: 800;
      color: #6d9a72;
    }
    .box {
      font-weight: 800;
    }
    h2 {
      font-family: Inter;
      font-weight: 400;
      text-align: center;
      font-size: medium;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      font-size: small;
      margin-top: -10px;
    }
    .box {
      font-weight: bolder;
    }
    .koncept {
      width: 100%;
    }
    a {
      color: black;
      text-decoration: none;
    }
    p {
      text-align: center;
      margin: auto;
      margin-top: 1%;
      line-height: 25px;
      max-width: 350px;
      font-family: Montserrat;
      margin-bottom: -20px;
      font-size: 14px;
    }
    br {
      margin-bottom: 1.6rem;
    }
    .knap {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 100px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .border {
      border-color: #6d9a72;
      color: #6d9a72;
    }
    .tekst {
      background-color: #e8efe5;
      margin: -1%;
      padding: 3%;
      margin-bottom: 6%;
    }
    .abbonement {
      padding: 1px;
      background-color: #87b18b;
      margin-top: 15%;
    }
    .måned {
      font-weight: 700;
    }
  }

  @media (min-width: 600px) {
    .forside1 {
      width: 100%;
      margin-top: -60px;
    }

    h1 {
      text-align: center;
      font-family: "Inter";
      font-weight: 350;
    }
    .mystery {
      font-weight: 800;
      color: #6d9a72;
    }
    .box {
      font-weight: 800;
    }
    a {
      color: black;
      text-decoration: none;
    }
    h2 {
      font-family: "Inter";
      font-weight: 400;
      text-align: center;
      font-size: larger;
    }
    .måned {
      font-weight: 700;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      font-size: large;
      margin-top: -12px;
    }
    .abbonement {
      padding: 1px;
      background-color: #87b18b;
      margin: 22%;
      margin-top: 5%;
      margin-bottom: 50px;
    }
    .koncept {
      width: 100%;
      margin-bottom: -10px;
    }
    p {
      font-family: "Monsserrat";
      text-align: center;
      margin: auto;
      margin-top: 1%;
      line-height: 32px;
      max-width: 750px;
      font-family: Montserrat;
      margin-bottom: -10px;
    }
    .tekst {
      background-color: #e8efe5;

      padding: 3%;
      margin-bottom: 1%;
    }
    br {
      margin-bottom: 1rem;
    }
    .knap {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 100px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 0rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .border {
      border-color: #6d9a72;
      color: #6d9a72;
    }
    .border:hover {
      background-color: #6d9a72;
      color: white;
    }
  }
</style>
