<section>
  <div>
    <img class="forside1" src="img/forside.webp" alt="forside" />
  </div>
  <div>
    <h2>SE ALLE VORES <span> MYSTERY</span><span>BOXES</span> HER</h2>
  </div>
</section>

<style>
  @media (max-width: 600px) {
    .forside1 {
      width: 100%;
    }
  }

  @media (min-width: 820px) {
    .forside1 {
      width: 100%;
    }
  }
</style>
