<section>
  <div>
    <img class="forside1" src="/img/forside.webp" alt="forside" />
  </div>
  <p class="USP">Oplev spændingen på og af banen.</p>
  <div>
    <a href="/shop"
      ><h1>
        SE ALLE VORES <span class="mystery">MYSTERY</span><span class="box"
          >BOXES</span
        > HER
      </h1></a
    >
  </div>

  <div class="abonnement">
    <a href="/abonnement"> <h2>
      OPRET ET ABONNEMENT OG <span class="måned"> FÅ ÉN BOX HVER MÅNED</span> TIL
      KUN 349 DKK
    </h2></a>
    <h3>Ingen binding - opsig når som helst</h3>
  </div>

  <div class="container">
    <img class="koncept" src="/img/konceptforside.webp" alt="koncept" />
  </div>
  <div class="tekst">
    <p>
      Matchwinner er et helt nyt koncept i Danmark.<br /> Hos Matchwinner sælger
      vi mystery boxes med helt nye og 100% originale fodboldtrøjer, som har en minimum
      vejledende pris på 600 kr. Du har derfor muligheden for at udvide din fodboldtrøje
      samling med forskellige spændende trøjer fra hele verden! <br /> Vi går meget
      op i, at vores kunder er tilfredse. Derfor tilbyder vi, at du kan vælge 1 hold,
      som du absolut IKKE vil modtage i din Mysterybox. Skulle du være så uheldig
      alligevel at modtage en trøje fra et hold, som du ikke ønsker, så frygt ej.
      Du kan altid inden for 14 dage returnere dine varer til Matchwinner, så længe
      trøjen stadig er med tags!
    </p>
    <a class="knap border" href="/about">LÆS MERE</a>
  </div>
</section>

<div>
<h3 class="anmeldelser">DET MENER VORES KUNDER</h3>

<section class="grid_1-1">
<p>Se vores 63 anmeldelser på</p> 
<img class="min" src="/img/trustpilot.webp" alt="trustpilot"></section>

<img class="stjerner" src="/img/stjerner.webp" alt="stjerner">
</div>

<div class="grid_3-3">
  <div class="bred gem"> <img class="tpstjerner" src="/img/tpstjerner.webp" alt="tpstjerner">
    <p class="title">“Skøn oplevelse </p>
  <p class="anmelelse">
Skøn oplevelse. Vi købte 4 trøjer og fik en Galatasaray, Rangers, Aston Villa og Italien trøje. DAO smed den første forsendelse væk, men ejeren var hurtig til at række ud og sende 4 nye trøjer. Vi fik selv valget om pengene tilbage eller at få nogle nye trøjer, men vi valgte selvfølgelig trøjerne. Mega fed oplevelse, kan klart anbefales.”</p>
<p class="navn">Carl Emil, 24. april 2023</p>
  </div>

  <div class="bred"><img class="tpstjerner" src="/img/tpstjerner.webp" alt="tpstjerner">
    <p class="title">“6 Stjerner. </p>
  <p class="anmelelse">
Super flinke gutter, der tager hensyn til den givne situation, og handler eksemplarisk herefter.”</p>
<p class="navn">Mathias D. Nielsen, 26. april 2023</p></div>

  <div class="bred gem"><img class="tpstjerner" src="/img/tpstjerner.webp" alt="tpstjerner">
    <p class="title">“Kæmpe anbefaling herfra </p>
  <p class="anmelelse">
Kæmpe anbefaling herfra. Jeg har prøvet at købe mystery trøjer en par forskellige steder men det her er klart det bedste sted. Jeg har købt 3 stk og har er ikke skuffet over at få en Juventus, England og Rangers trøje. De andre steder jeg har købt mystery trøjer fra får du kun klubber du aldrig har hørt om. Kæmpe stor anbefaling herfra”</p>
<p class="navn">Oliver Gjesing, 30. Marts 2023</p></div>
  </div>


<style>
  body {
    margin: 0;
  }
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (max-width: 600px) {
    .forside1 {
      width: 100%;
      margin-top: -45px;
    }
    h1 {
      text-align: center;
      font-family: "Inter";
      font-weight: 350;
      font-size: 15px;
    }

    .mystery {
      font-weight: 800;
      color: #6d9a72;
    }
    .box {
      font-weight: 800;
    }
    h2 {
      font-family: Inter;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      max-width: 350px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      font-size: small;
      margin-top: -10px;
    }
    .box {
      font-weight: bolder;
    }
    .koncept {
      width: 100%;
    }
    a {
      color: black;
      text-decoration: none;
    }
    p {
      text-align: center;
      margin: auto;
      margin-top: 1%;
      line-height: 24px;
      max-width: 320px;
      font-family: Montserrat;
      margin-bottom: -20px;
      font-size: 14px;
    }
    br {
      margin-bottom: 1.6rem;
    }
    .knap {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 100px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 10px 18px;
      font-size: 13px;
      cursor: pointer;
    }
    .border {
      border-color: #6d9a72;
      color: #6d9a72;
    }
    .tekst {
      background-color: #e8efe5;
      margin: -1%;
      padding: 3%;
      margin-bottom: 6%;
    }
    .abonnement {
      padding: 1px;
      background-color: #87b18b;
      margin-top: 15%;
    }
    .måned {
      font-weight: 700;
    }
    .min{
      width: 70%;
      margin-top: 4px;
    }
      .grid_1-1{
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin: auto;
      max-width: 310px;
      text-align: center;
      margin-top: 0px;
    }
    .anmeldelser{
      font-weight: 350;
      font-size: large;
      margin-top: 30px;
      font-family: Inter;
    }
     .stjerner{
      display: block;
      width: 45%;
      margin: auto;
      margin-top: 20px;
      align-items: center;
      margin-bottom: 20px;
    }
    .gem{
      display: none;
    }
    .tpstjerner{
      width: 30%;
    }
    .title{
  font-size: small;
  text-align: left;
  font-weight:520;
  margin-bottom: -5px;
}
  .navn{
      color: #6d9a72;
      text-align: left;
      font-size:70%; 
      margin-top: 25px;
      margin-bottom: 40px;
    }
     .anmelelse{
      font-size: small;
      line-height: 20px;
      text-align:left;
    }
        .bred{
        max-width: 300px;
        padding: 15px;
        margin: auto;
    }
      .USP{
      position: relative;
      font-family: Montserrat;
      font-size: 70%;
      margin-top: -21%;
      margin-bottom: 80px;
      max-width: 250px;
      text-align: left;
      font-weight: 650;
      color: white;
      line-height: 15px;
      text-align: center;
    }
  }

  @media (min-width: 600px) {
    .USP{
      position: relative;
      font-family: Montserrat;
      font-size: 250%;
      margin-top: -24.5%;
      margin-bottom: 19.5%;
      margin-left: 5%;
      max-width: 400px;
      text-align: left;
      font-weight: 650;
      color: white;
      line-height: 50px;
    }
    .forside1 {
      width: 100%;
      margin-top: -60px;
    }
    .anmeldelser{
      font-weight: 350;
      font-size: xx-large;
      margin-top: 70px;
      font-family: Inter;
    }
    .min{
      width: 75%;
      margin-top: 5px;
    }

    .grid_1-1{
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin: auto;
      max-width: 350px;
      text-align: center;
      margin-top: -30px;
    }
    .stjerner{
      display: block;
      width: 25%;
      margin: auto;
      margin-top: 30px;
      align-items: center;
    }
    .grid_3-3{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1150px;
     margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .anmelelse{
      font-size: small;
      line-height: 20px;
      text-align:left;
    }
.title{
  font-size: small;
  text-align: left;
  font-weight:520;
}
    .bred{
        max-width: 350px;
        padding: 15px;
    }
    .tpstjerner{
      width: 30%;
    }
    .navn{
      color: #6d9a72;
      text-align: left;
      font-size: small;
      margin-top: 20px;
    }

    h1 {
      text-align: center;
      font-family: "Inter";
      font-weight: 350;
    }
    .mystery {
      font-weight: 800;
      color: #6d9a72;
    }
    .box {
      font-weight: 800;
    }
    a {
      color: black;
      text-decoration: none;
    }
    h2 {
      font-family: "Inter";
      font-weight: 400;
      text-align: center;
      font-size: larger;
    }
    .måned {
      font-weight: 700;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      font-size: large;
      margin-top: -12px;
    }
    .abonnement {
      padding: 1px;
      background-color: #87b18b;
      margin: 22%;
      margin-top: 5%;
      margin-bottom: 50px;
    }
    .koncept {
      width: 100%;
      margin-bottom: -10px;
    }
    p {
      font-family: "Monsserrat";
      text-align: center;
      margin: auto;
      margin-top: 1%;
      line-height: 32px;
      max-width: 750px;
      font-family: Montserrat;
      margin-bottom: -10px;
    }
    .tekst {
      background-color: #e8efe5;

      padding: 3%;
      margin-bottom: 1%;
    }
    br {
      margin-bottom: 1rem;
    }
    .knap {
      display: flex;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      max-width: 100px;
      color: #000000;
      text-decoration: none;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 0rem;
      border-radius: 2px;
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .border {
      border-color: #6d9a72;
      color: #6d9a72;
    }
    .border:hover {
      background-color: #6d9a72;
      color: white;
    }
  }
</style>
