<section>
  <div>
    <img class="forside1" src="img/forside.webp" alt="forside" />
  </div>
</section>

<style>
  @media (max-width: 600px) {
    .forside1 {
      width: 100%;
    }
  }

  @media (min-width: 820px) {
    .forside1 {
      width: 100%;
    }
  }
</style>
