<div class="carousel">
  <div class="arrow arrow-left">&#8249;</div>
  <div class="slide-container">
    <div class="slide active">
      <img class="bil1 bil4" src="img/scarf1.webp" alt="Billede 1" />
    </div>
    <div class="slide">
      <img class="bil2" src="img/unikke1.webp" alt="Billede 2" />
    </div>
    <div class="slide">
      <img class="bil1 bil4" src="img/jun1.webp" alt="Billede 3" />
    </div>
  </div>
  <div class="arrow arrow-right">&#8250;</div>
</div>

<script src="../scripts/karussel.js"></script>

<style>
  .carousel {
    position: relative;
    width: 100%;
  }

  .slide-container {
    display: flex;
    overflow: hidden;
  }

  .slide {
    flex: 0 30% 0; /* Justér denne værdi efter dine præferencer */
    opacity: 0.6;
    transition: opacity 0.3s;
    margin: 0 10px; /* Justér denne værdi efter dine præferencer */
  }

  .slide.active {
    flex: 0 40% 0;
    opacity: 1;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    z-index: 2;
  }

  .arrow-left {
    left: 10px;
  }

  .arrow-right {
    right: 10px;
  }

  .bil1 {
    width: 70%;
  }
  .bil2 {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
  }
  .bil3 {
    margin-left: 20%;
  }
  .bil4 {
    margin-left: 15%;
  }
</style>
