<div class="carousel">
  <div class="arrow arrow-left">&#8249;</div>
  <div class="slide-container">
    <div class="slide active">
      <a href="/shop">
        <img class="bil1 bil4 bil5" src="/img/scarf1.webp" alt="Billede 1" />
      </a>
    </div>
    <div class="slide">
      <a href="/shop">
        <img class="bil2" src="/img/unikke1.webp" alt="Billede 2" />
      </a>
    </div>
    <div class="slide">
      <a href="/shop">
        <img class="bil1 bil4 bil6" src="/img/jun1.webp" alt="Billede 3" />
      </a>
    </div>
  </div>
  <div class="arrow arrow-right">&#8250;</div>
</div>

<script src="../scripts/karussel.js"></script>

<style>
  .carousel {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }

  .slide-container {
    display: flex;
    overflow: hidden;
  }

  .slide {
    margin: 0 -65px; /* Justér denne værdi efter dine præferencer */
  }

  .slide.active {
    flex: 0 100% 0;
    opacity: 1;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: #3c3c3c;
    cursor: pointer;
    z-index: 2;
  }

  .arrow-left {
    left: 25px;
  }

  .arrow-right {
    right: 25px;
  }

  .bil2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    display: inline-block;
  }

  .bil4 {
    margin-top: 5%;
  }
  .bil1 {
    width: 70%;
  }
  .bil3 {
    margin-right: 60%;
    width: 70%;
  }
  .bil5 {
    margin-left: 30%;
  }
  .bil6 {
    margin-right: 60%;
    display: inline-block;
  }
</style>
