<section class="grid-container">
  <div class="box-container">
    <img class="box" src="img/box.svg" alt="box" />
  </div>
  <div class="text-container">
    <h1>Den Legendariske Box</h1>
    <p class="pris">389kr.</p>
    <div class="tekst1">
      <p>Vælg størrelse</p>
    </div>
    <div class="sizes-container">
      <p class="border">XS</p>
      <p class="border">S</p>
      <p class="border">M</p>
      <p class="border">L</p>
      <p class="border">XL</p>
      <p class="border">XXL</p>
      <p class="border">XXXL</p>
    </div>
    <section>
      <div class="knap border">
        <p>Læg i kurv</p>
      </div>
    </section>

    <section>
      <div>
        <h4>
          Med denne boks vil du modtage en simpel Mystery box, som indeholder en
          100% original trøje, med en vejledende pris på mindst 600kr. I denne
          boks vil du modtage en eksklusiv trøje fra et hold der enten spiller
          eller har spillet i nogle af de største ligaer i verden. Dette kan
          f.eks. være Premier League, Serie A samt La liga. Udover det kan du
          også modtage en trøje fra det legendariske landshold. Du kan dog
          fravælge dette ved checkout.
        </h4>
      </div>
    </section>
  </div>
  <section class="dropdown grid_1-1-1">
    <nav>
      <ul class="menu">
        <li class="parent">
          <div class="grid-item">PRODUKTINFO</div>
          <ul class="submenu">
            <li>
              Hos Matchwinner vil vi sikre os, at vores kunder altid er
              tilfredse. Derfor kan du tilføje en note til denne ordre hvor du
              kan fortælle os ét hold som din trøje absolut IKKE må være fra.
              Hvis du modtager pakken og alligevel ikke er tilfreds har vi altid
              14 dages retur på ubrugte trøjer!
            </li>
          </ul>
        </li>
        <div class="line"></div>
        <li class="parent">
          <div class="grid-item">RETUR / REFUNDERING</div>
          <ul class="submenu">
            <li>
              Hos Matchwinner har du altid 14 dages fortrydelsesret. Du skriver
              bare en besked til os på instagram eller her på siden. Så guider
              vi dig så du super hurtigt og nemt kan returnere din vare. Da vi
              hos Matchwinner forsøger at have de bedste priser er du selv
              ansvarlig for eventuelle omkostninger ved returnering/ombytning.
            </li>
          </ul>
        </li>
        <div class="line"></div>
        <li class="parent">
          <div class="grid-item">FRAGT INFO</div>
          <ul class="submenu">
            <li>
              Vi bestræber os på at sende alle ordre samme dag. Du vil derfor
              modtage din pakke inden for 2-4 hverdage! Vi sender alle vores
              pakker med DAO365
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <script src="../scripts/leg.js"></script>

  <style>
    @font-face {
      font-family: Inter;
      src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
    }
    @font-face {
      font-family: Montserrat;
      src: url("fonts/Montserrat-VariableFont_wght.ttf");
    }
    @media (max-width: 600px) {
      .box {
        width: 60%;
        margin: 20%;
        margin-top: 0%;
      }
      h1 {
        text-align: center;
        font-family: Inter;
      }
      .pris {
        text-align: center;
        font-family: Montserrat;
      }
      .tekst1 {
        font-family: Montserrat;
      }
      .sizes-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10%;
        cursor: pointer;
      }
      .border {
      }
      h4 {
        font-family: montserrat;
        font-weight: lighter;
        line-height: 20px;
        padding: 1%;
        margin-top: 14%;
      }

      nav {
        position: sticky;
        top: 0;
      }

      .menu {
        list-style: none;
        padding: 0;
      }

      .parent {
        position: relative;
        cursor: pointer;
        padding: 10px;
      }

      .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        background-color: #000;
        color: #fff;
      }

      .parent.active .submenu {
        display: block;
      }

      .parent.active {
        background-color: #000;
        color: #fff;
      }
      .dropdown {
        background-color: #e8efe5;
        margin-bottom: 20%;
      }
      li {
        text-align: center;
        font-family: Montsserat;
      }
      ul {
        font-family: Inter;
      }
      .line {
        border-bottom: black solid 1px;
        max-width: 270px;
        margin: auto;
        margin-top: 3%;
      }
    }

    @media (min-width: 900px) {
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      .box {
        width: 50%;
        margin: 18%;
        margin-top: 0;
      }

      .box-container {
        display: flex;
        align-items: center;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .sizes-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
        cursor: pointer;
      }

      .grid.1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .dropdown {
        display: none;
      }

      .dropdown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
      .border {
        background-color: #e8efe5;
        width: 43%;
        margin: 0%;
        padding: 15%;
        text-align: center;
      }
      h4 {
        width: 65%;
        line-height: 25px;
        font-family: Montserrat;
        font-weight: lighter;
        margin-top: -5%;
      }
      h1 {
        font-family: Inter;
        font-size: 30px;
      }
      .pris {
        font-family: Inter;
        font-size: 20px;
      }
      .knap {
        display: flex;
        justify-content: center;
        font-family: "Open Sans", sans-serif;
        max-width: 100px;
        color: #000000;
        text-decoration: none;

        margin-top: 30px;
        margin-bottom: 6rem;
        border-radius: 2px;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 6px 10px;
        font-size: 10px;
        cursor: pointer;
      }
      .border {
        border-color: #6d9a72;
        color: #6d9a72;
      }
      .border:hover {
        background-color: #6d9a72;
        color: white;
      }
    }
  </style>
</section>
