<button id="burger-menu">
  Menu
  <span></span>
</button>

<nav id="menu">
  <ul>
    <li class="logo"><a href="/index">MATCH<span>WINNER</span></a></li>
    <div class="line"></div>
    <li class="nav-right">
      <a href="/about">Om os</a>
      <a href="/shop">Shop</a>
      <a href="/abonnement">Abonnement</a>
    </li>
  </ul>
</nav>
<script src="../scripts/menu.js"></script>

<style>
  @font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slntwght.ttf);
  }
  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: relative;
    z-index: 2;
  }
  @media (min-width: 820px) {
    .logo {
      text-align: center;
      font-size: 45px;
    }
    span {
      font-weight: bold;
      font-family: "Inconsolata", monospace;
      font-family: "Inter", sans-serif;
      text-align: center;
    }
    ul {
      text-decoration: none;
      list-style: none;
      display: inline;
      margin-left: 20px;
      margin-right: 20px;
      font-family: Montserrat;
    }
    .nav-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5%;
      margin-top: 2%;
      text-decoration: none;
    }
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: #87b18b;
    }
    .line {
      border-bottom: black solid 1px;
      max-width: 1000px;
      margin: auto;
    }
  }
  @media screen and (max-width: 900px) {
    .logo {
      font-family: "Inconsolata", monospace;
      font-family: "Inter", sans-serif;
    }
    span {
      font-weight: bold;
      font-family: "Inconsolata", monospace;
      font-family: "Inter", sans-serif;
    }

    #burger-menu {
      display: block;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: black;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: black;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: black;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: black;
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
    }
    #menu ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 40px;
      margin: 20px;
    }
    #menu li {
      list-style: none;
      display: initial;
      font-family: "Inconsolata", monospace;
      font-family: "Inter", sans-serif;
    }
    #menu a {
      color: black;
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
</style>
