<div class="abonnement">
  <a href="/abonnement">
    <h2>
      OPRET ET ABONNEMENT OG <span class="måned"> FÅ ÉN BOX HVER MÅNED</span> TIL
      KUN 349 DKK
    </h2></a
  >
  <h3>Ingen binding - opsig når som helst</h3>
</div>

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (max-width: 600px) {
    a {
      color: black;
      text-decoration: none;
    }
    h2 {
      font-family: Inter;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      max-width: 350px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      font-size: small;
      margin-top: -10px;
    }
    .abonnement {
      padding: 1px;
      background-color: #87b18b;
      margin-top: 15%;
    }

    .måned {
      font-weight: 700;
    }
  }

  @media (min-width: 600px) {
    a {
      color: black;
      text-decoration: none;
    }
    .abonnement {
      padding: 1px;
      background-color: #87b18b;
      margin-top: 15%;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      font-size: large;
      margin-top: -12px;
    }
    h2 {
      font-family: "Inter";
      font-weight: 400;
      text-align: center;
      font-size: larger;
    }
    .måned {
      font-weight: 700;
    }
    .abonnement {
      padding: 1px;
      background-color: #87b18b;
      margin: 22%;
      margin-top: 5%;
      margin-bottom: 50px;
    }
  }
</style>
