<section class="dropdown grid_1-1-1">
  <nav>
    <ul class="menu">
      <li class="parent">
        <div class="grid-item">PRODUKTINFO</div>
        <ul class="submenu">
          <li>
            Hos Matchwinner vil vi sikre os, at vores kunder altid er tilfredse.
            Derfor kan du tilføje en note til denne ordre hvor du kan fortælle
            os ét hold som din trøje absolut IKKE må være fra. Hvis du modtager
            pakken og alligevel ikke er tilfreds har vi altid 14 dages retur på
            ubrugte trøjer!
          </li>
        </ul>
      </li>
      <div class="line"></div>
      <li class="parent">
        <div class="grid-item">RETUR / REFUNDERING</div>
        <ul class="submenu">
          <li>
            Hos Matchwinner har du altid 14 dages fortrydelsesret. Du skriver
            bare en besked til os på instagram eller her på siden. Så guider vi
            dig så du super hurtigt og nemt kan returnere din vare. Da vi hos
            Matchwinner forsøger at have de bedste priser er du selv ansvarlig
            for eventuelle omkostninger ved returnering/ombytning.
          </li>
        </ul>
      </li>
      <div class="line"></div>
      <li class="parent">
        <div class="grid-item">FRAGT INFO</div>
        <ul class="submenu">
          <li>
            Vi bestræber os på at sende alle ordre samme dag. Du vil derfor
            modtage din pakke inden for 2-4 hverdage! Vi sender alle vores
            pakker med DAO365
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
