---
const { Pris, image, Titler, Beskrivelse } = Astro.props;
---

<div class="grid-container">
  <img class="billeder" src={image} alt="billede1" />
  <div class="tekst-container">
    <h2>{Titler}</h2>
    <h3>{Pris}</h3>
    <p>{Beskrivelse}</p>
    <div class="tekst1"></div>
    <h4>Vælg størrelse</h4>

    <div class="sizes-container">
      <div class="size-item">
        <p class="border">XS</p>
      </div>
      <div class="size-item">
        <p class="border">S</p>
      </div>
      <div class="size-item">
        <p class="border">M</p>
      </div>
      <div class="size-item">
        <p class="border">L</p>
      </div>
      <div class="size-item">
        <p class="border">XL</p>
      </div>
      <div class="size-item">
        <p class="border">XXL</p>
      </div>
      <div class="size-item">
        <p class="border">XXXL</p>
      </div>
    </div>
    <section>
      <div class="knap border1">
        <h4>Læg i kurv</h4>
      </div>
    </section>

    <style>
      @font-face {
        font-family: Inter;
        src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
      }
      @font-face {
        font-family: Montserrat;
        src: url("fonts/Montserrat-VariableFont_wght.ttf");
      }
      @media (max-width: 600px) {
        .box {
          width: 60%;
          margin: 20%;
          margin-top: 0%;
        }
        h2 {
          text-align: center;
          font-family: Inter;
          text-align: center;
          margin-top: -4%;
        }
        .pris {
          text-align: center;
          font-family: Montserrat;
        }
        .tekst1 {
          font-family: Montserrat;
        }
        .sizes-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 10%;
          cursor: pointer;
          margin: 7%;
        }
        .border {
          background-color: #e8efe5;
          text-align: center;
          padding: 10%;
        }
        h4 {
          font-family: montserrat;
          margin-top: 14%;
          text-align: center;
          margin-top: 5%;
        }

        nav {
          position: sticky;
          top: 0;
        }

        .menu {
          list-style: none;
          padding: 0;
        }

        .parent {
          position: relative;
          cursor: pointer;
          padding: 10px;
        }

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 999;
          background-color: #000;
          color: #fff;
        }

        .parent.active .submenu {
          display: block;
        }

        .parent.active {
          background-color: #000;
          color: #fff;
        }
        .dropdown {
          background-color: #e8efe5;
          margin-bottom: 20%;
        }
        li {
          text-align: center;
          font-family: Montsserat;
        }
        ul {
          font-family: Inter;
        }
        .line {
          border-bottom: black solid 1px;
          max-width: 270px;
          margin: auto;
          margin-top: 3%;
        }
        .billeder {
          width: 80%;
          margin: 10%;
          margin-top: auto;
        }
        h3 {
          text-align: center;
          font-family: Montserrat;
          color: #6d9a72;
          text-align: left;
          margin-left: 11%;
          margin-top: -4%;
        }
        p {
          font-family: Montserrat;
          margin-top: 5%;
          width: 86%;
          margin-left: 11%;
          line-height: 140%;
        }
        .knap {
          display: flex;
          justify-content: center;
          font-family: "Open Sans", sans-serif;
          max-width: 100px;
          color: #000000;
          text-decoration: none;

          margin-top: 30px;
          margin-bottom: 6rem;
          border-radius: 2px;
          border: 2px solid black;
          background-color: white;
          color: black;
          padding: 6px 10px;
          font-size: 10px;
          cursor: pointer;
          margin-left: 33%;
        }
        .border1 {
          border-color: #6d9a72;
          color: #6d9a72;
        }
      }

      @media (min-width: 900px) {
        h4 {
          font-family: montserrat;
        }
        h2 {
          font-family: Inter;
        }
        .pris {
          text-align: center;
          font-family: Montserrat;
        }
        h3 {
          font-family: Montserrat;
          color: #6d9a72;
          margin-top: -1%;
          margin-bottom: 5%;
        }
        p {
          font-family: Montserrat;
          margin-top: 5%;
          width: 70%;
          line-height: 28px;
          margin-top: auto;
          font-size: 100%;
        }
        .grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
        }

        .billeder {
          width: 100%;
        }

        .tekst-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .box {
          width: 50%;
          margin: 18%;
          margin-top: 0;
        }

        .box-container {
          display: flex;
          align-items: center;
        }

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .sizes-container {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-gap: 10px;
          margin: 2%;
          cursor: pointer;
          width: 80%;
          margin-left: -1%;
        }

        .grid.1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        .dropdown {
          display: none;
        }

        .dropdown {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
          max-width: 100%;
        }
        .border {
          background-color: #e8efe5;
          width: 43%;
          margin: 0%;
          padding: 15%;
          text-align: center;
        }

        h1 {
          font-family: Inter;
          font-size: 30px;
        }
        .pris {
          font-family: Inter;
          font-size: 20px;
        }
        .knap {
          display: flex;
          justify-content: center;
          font-family: "Open Sans", sans-serif;
          max-width: 100px;
          color: #000000;
          text-decoration: none;

          margin-top: 30px;
          margin-bottom: 6rem;
          border-radius: 2px;
          border: 2px solid black;
          background-color: white;
          color: black;
          padding: 6px 10px;
          font-size: 10px;
          cursor: pointer;
        }
        .border1 {
          border-color: #6d9a72;
          color: #6d9a72;
        }
        .border1:hover {
          background-color: #6d9a72;
          color: white;
        }
        .billeder {
          width: 60%;
          margin-left: 15%;
          margin-top: 5%;
        }
        .tekst-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 20px;
        }

        .sizes-container {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-gap: 10px;
        }

        .size-item {
          display: flex;
          justify-content: center;
        }

        .size-item p {
          font-size: 14px;
        }
      }
    </style>
  </div>
</div>
