<div>
  <a href="/shop"
    ><h1>
      SE ALLE VORES <span class="mystery">MYSTERY</span><span class="box">BOXES</span> HER
    </h1></a
  >
</div>

<style>
  body {
    margin: 0;
  }
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (max-width: 600px) {
    .mystery {
      font-weight: 800;
      color: #6d9a72;
    }
    .box {
      font-weight: 800;
    }
    a {
      color: black;
      text-decoration: none;
    }
    h1 {
      text-align: center;
      font-family: "Inter";
      font-weight: 350;
      font-size: 15px;
      margin-top: 6%;
    }
  }

  @media (min-width: 600px) {
    .mystery {
      font-weight: 800;
      color: #6d9a72;
    }
    .box {
      font-weight: 800;
    }
    a {
      color: black;
      text-decoration: none;
    }
    h1 {
      text-align: center;
      font-family: "Inter";
      font-weight: 350;
      margin-top: 4%;
    }
  }
</style>
