---
const { Pris, image, Titler } = Astro.props;
---

<section>
  <div class="grid-container">
    <div>
      <a href="/"
        ><img class="billeder" src={image} alt="billede1" />
        <h2>{Titler}</h2>
        <p>{Pris}</p></a
      >
    </div>
  </div>
</section>

<!-- <a href="/leg"
      ><img class="billeder" src={image} alt="billede1" /> -->
<!-- <h1>ALLE PRODUKTER</h1> -->
<!-- <div class="grid-container grid_1-1-1-1">
  <div class="grid-item">
    <a href="/leg"
      ><img class="billeder" src="/img/legendariske.webp" alt="billede1" /></a
    >
  </div>
  <div class="grid-item">
    <img class="billeder" src="/img/unikke.webp" alt="Billede 2" />
  </div>
  <div class="grid-item">
    <img class="billeder" src="/img/junior.webp" alt="Billede 3" />
  </div>
  <div class="grid-item">
    <img class="billeder" src="/img/scarf.webp" alt="Billede 4" />
  </div>
</div>
<section>
  <div>
    <p>VIDEO</p>
  </div>
</section> -->

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  body {
    margin: 0;
  }

  img {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-family: Montserrat;
    color: #87b18b;
    margin-top: -15px;
  }

  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  h2 {
    text-align: center;
    font-family: Inter;
    padding-top: 2rem;
    margin-top: -40%;
    color: white;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  img:hover {
    width: 95%;
  }
  h3 {
    text-align: center;
    font-family: Montserrat;
    font-weight: lighter;
  }

  @media (max-width: 600px) {
    .shop {
      margin-top: -45px;
    }

    h2 {
      font-size: 20px;
      padding-top: 30px;
    }
  }
</style>
