<img class="shop" src="/img/shop.webp" alt="shop" />
<h1>ALLE PRODUKTER</h1>
<div class="grid-container grid_1-1-1-1">
  <div class="grid-item">
    <img class="billeder" src="/img/legendariske.webp" alt="Billede 1">
  </div>
  <div class="grid-item">
    <img class="billeder" src="/img/unikke.webp" alt="Billede 2">
  </div>
  <div class="grid-item">
    <img class="billeder" src="/img/junior.webp" alt="Billede 3">
  </div>
  <div class="grid-item">
    <img class="billeder" src="/img/scarf.webp" alt="Billede 4">
  </div>
</div>
<section>
  <div>
    <p>
      VIDEO
    </p>
  </div>
</section>

<section class="background">
  <div>
    <h2>ABONNEMENT</h2>
  </div>
  <div>
    <h3 class="tekst">
      Hold spændingen kørende hver måned med nye overraskelser
    </h3>
  </div>
  <div class="grid_2-2">
    <img class="leg" src="/img/aboleg.webp" alt="billede5" />

    <img class="uni" src="/img/abounik.webp" alt="billeder6" />
  </div>
  <div>
    <a class="knap border" href="/abonnement">LÆS MERE</a>
  </div>
</section>

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  body {
    margin: 0;
  }
  .shop {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: -60px;
  }
  img {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
  }
  .leg {
    margin-inline-end: 3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    transition: transform 0.2s;
  }
  .uni {
    margin-inline-start: 3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    transition: transform 0.2s;
  }
  .leg:hover,
  .uni:hover,
  .billeder:hover {
    transform: scale(1.12);
  }
  h1 {
    text-align: center;
    font-family: Inter;
    margin-top: 2.7rem;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .billeder {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 80%;
    height: auto;
  }
  p {
    text-align: center;
    font-family: Montserrat;
  }
  span {
    font-weight: bolder;
  }
  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  h2 {
    text-align: center;
    font-family: Inter;
    font-size: xx-large;
    padding-top: 2rem;
  }
  h3 {
    text-align: center;
    font-family: Montserrat;
    font-weight: lighter;
  }
  .background {
    background-color: #e8efe5;
    padding-bottom: 1%;
    margin-bottom: 6rem;
  }
  .tekst {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 30px;
  }
  .knap {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    max-width: 100px;
    color: #000000;
    text-decoration: none;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 1rem;
    border-radius: 2px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .border {
    border-color: #6d9a72;
    color: #6d9a72;
  }
  .border:hover {
    background-color: #6d9a72;
    color: white;
  }
  @media (max-width: 600px) {
    .shop {
      margin-top: -45px;
    }
    h1{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: -30px;
    }
    .tekst{
        font-weight: 300;
        margin-top: -70px;
        max-width: 300px;
        text-align: center;
        margin: auto;
        padding: 0px;
    }
    h2{
        font-size: 20px;
        padding-top: 30px;
        }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: auto;
      margin-top: 4rem;
      width: 95%;
    }

    .grid-item {
      text-align: center;
      margin: -10px;
    }

    .grid-item img {
      max-width: 100%;
      max-height: 100%;
    }
     .billeder {
    margin: auto;
    margin-bottom: 40px;
    width: 80%;
    height: auto;
  }
    .grid_2-2{
      text-align: center;
      gap: 5px;
      margin: auto;
    }
     .grid_2-2 img {
      max-width: 100%;
      max-height: 100%;
     }

    .leg{width: 80%;
    margin-right: 10px;}
    .uni{width: 80%;
    margin-left: 10px;}
  .leg:hover,
  .uni:hover,
  .billeder:hover {
    transform: none;
  }
}
</style>
