---
const { slug, Pris, image, Titler } = Astro.props;
---

<a href={`/beskrivelse/${slug}`}>
  <article>
    <img class="billeder" src={image} alt="billede1" />
    <h2>{Titler}</h2>
    <p>{Pris}</p>
  </article>
</a>

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  body {
    margin: 0;
  }
  @media (min-width: 600px) {
    img {
      display: flex;
      align-items: center;
      width: 90%;
      margin: auto;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-family: Montserrat;
      color: #87b18b;
      margin-top: -10px;
      font-size: 100%;
      font-weight: bolder;
    }

    h2 {
      text-align: center;
      font-family: Inter;
      padding-top: 2rem;
      margin-top: -40%;
      color: white;
      text-decoration: none;
      font-size: 100%;
    }
    a {
      text-decoration: none;
    }

    h3 {
      text-align: center;
      font-family: Montserrat;
      font-weight: lighter;
    }
  }

  @media (max-width: 600px) {
    .shop {
      margin-top: -45px;
    }

    h2 {
      text-align: center;
      font-family: Inter;
      padding-top: 2rem;
      margin-top: -80%;
      color: white;
      text-decoration: none;
      font-size: 60%;
    }
    img {
      display: flex;
      align-items: center;
      width: 90%;
      margin: auto;
      margin-bottom: 50px;
    }
    p {
      text-align: center;
      font-family: Montserrat;
      color: #87b18b;
      margin-top: -5px;
      font-size: 70%;
      text-decoration: none;
      font-weight: bolder;
    }
    .billeder {
      width: 90%;
    }
    a {
      text-decoration: none;
    }
  }
</style>
